<div class="row header"><!-- Begin Header -->

  <!-- Logo
  ================================================== -->
  <div class="span5 logo">
    <a href="index.htm"><img src="./assets/img/gallery/project/logo.png" alt="" /></a>
    <h5>Художественная гимнастика </h5>
  </div>

  <!-- Main Navigation
  ================================================== -->
  <div class="span7 navigation">
    <div class="navbar hidden-phone">
      <ul class="nav" >
        <li *ngFor="let h of headers">
          <a *ngIf="!h.subMenu" style="cursor:pointer" [routerLink]=h.url>{{h.translate}} </a>
          <a class="dropdown-toggle" *ngIf="h.subMenu"
             data-toggle="dropdown"
             style="cursor:pointer"
          >{{h.translate}} <b  class="caret"></b></a>
          <ul class="dropdown-menu" >
            <li *ngFor="let sub of h.subMenu"><a [routerLink]= [h.url,sub.url] >{{sub.translate}}</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>

</div><!-- End Header -->
