<div class="color-bar-2 color-bg"></div>

<div class="container main-container">



  <!-- Page Content
  ================================================== -->
  <div class="row"><!--Container row-->

    <div class="span8 contact"><!--Begin page content column-->

      <h2>Напишите нам</h2>
      <p>Если у Вас есть какие-либо вопросы, можете написать нам! </p>

      <div class="alert alert-success">
        Well done! You successfully read this important alert message.
      </div>

      <form action="#" id="contact-form">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          <input class="span4" id="prependedInput" size="16" type="text" placeholder="Name">
        </div>
        <div class="input-prepend">
          <span class="add-on"><i class="icon-envelope"></i></span>
          <input class="span4" id="prependedInput" size="16" type="text" placeholder="Email Address">
        </div>
        <div class="input-prepend">
          <span class="add-on"><i class="icon-globe"></i></span>
          <input class="span4" id="prependedInput" size="16" type="text" placeholder="Website URL">
        </div>
        <textarea class="span6"></textarea>
        <div class="row">
          <div class="span2">
            <input type="submit" class="btn btn-inverse" value="Послать">
          </div>
        </div>
      </form>

    </div> <!--End page content column-->

    <!-- Sidebar
    ================================================== -->
    <div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->
      <h5 class="title-bg">Наше местоположение</h5>
      <address>
        <strong>Маленькая страна</strong><br>
        Московская обл. <br> п.Андреевка, <br>
        ул. Жилинская 27к6
        <br>

        <abbr title="Phone">T:</abbr> (495) 8888888
      </address>

      <address>
        <strong>Валентина Андреевна</strong><br>
        <a href="mailto:#">first.last@gmail.com</a>
      </address>

      <h5 class="title-bg">Местоположение</h5>
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A41ffdeaf56a18e3e0eaf6834276c1837acfdb365ad237eb68444ab145bb2e592&amp;source=constructor" width="320" height="300" frameborder="0"></iframe>
    </div><!-- End sidebar column -->

  </div><!-- End container row -->

</div> <!-- End Container -->
