<div class="row headline"><!-- Begin Headline -->

  <!-- Slider Carousel
   ================================================== -->
  <div class="span8">
    <div class="flexslider">
      <ul class="slides">
        <li><a href="./assets/gallery-single.htm"><img src="./assets/img/gallery/project/slider-img-1.jpg" alt="slider" /></a></li>
        <li><a href="./assets/gallery-single.htm"><img src="./assets/img/gallery/project/slider-img-2.jpg" alt="slider" /></a></li>
        <li><a href="./assets/gallery-single.htm"><img src="./assets/img/gallery/project/slider-img-3.jpg" alt="slider" /></a></li>
      </ul>
    </div>
  </div>

  <!-- Headline Text
  ================================================== -->
  <div class="span4">
    <h3>Занятия по художественной гимнастике для детей   <br />
      в п. Андреевка</h3>
    <p class="lead">Тут будет некая информация</p>
    <p>Тут будет некая информация</p>
    <a href="#"><i class="icon-plus-sign"></i>Read More</a>
  </div>
</div><!-- End Headline -->
